.comments__container {
    display: grid;
    gap: 19px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    .comments__container {
        gap: 48px;
        grid-template-columns: 1fr;
    }
}
