.cover__subtitle {
    margin: 0;
    width: 360px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    z-index: 3;
}

@media screen and (max-width: 560px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
    }
}
