.cover__overlay {
    position: relative;
    width: 100%;
    min-height: 740px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover__overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2a2c2f;
    opacity: .3;
    transition: opacity .2s linear;
}

.cover__overlay:hover::before {
    opacity: .8;
}

@media screen and (max-width: 1208px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        min-height: 400px;
    }
}

@media screen and (max-width: 640px) {
    .cover__overlay {
        min-height: 350px;
    }
}

@media screen and (max-width: 560px) {
    .cover__overlay {
        min-height: 300px;
    }
}

@media screen and (max-width: 485px) {
    .cover__overlay {
        min-height: 250px;
    }
}

@media screen and (max-width: 400px) {
    .cover__overlay {
        min-height: 200px;
    }
}
