.cover__title {
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    width: 560px;
    height: 152px;
    font-family: 'Inter-Black';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFF;
    z-index: 2;
    position: absolute;
}

@media screen and (max-width: 1023px) {
    .cover__title {
        top: 40%;
    }
}

@media screen and (max-width: 500px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        height: 70px;
        top: 34%;
    }
}
