.footer {
    margin: 0;
    padding: 92px 48px 24px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1018px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

@media screen and (max-width: 735px) {
    .footer {
        flex-direction: column;
        padding: 64px 16px 24px;
    }
}
