.place__website {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 570px) {
    .place__website {
        margin: 0 16px;
    }
}
