.content-title {
    margin: 0 auto 48px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    color: #FFF;
    max-width: 800px;
}

@media screen and (max-width: 825px) {
    .content-title {
        margin: 0 auto 31px;
        font-size: 42px;
        line-height: 46px;
        max-width: 560px;
    }
}

@media screen and (max-width: 440px) {
    .content-title {
        margin: 0 auto 16px;
        font-size: 32px;
        line-height: 35px;
        max-width: 343px;
    }
}

@media screen and (max-width: 339px) {
    .content-title {
        max-width: 288px;
    }
}
